body {
  overflow-x: hidden;
}
.search-box {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 300px;
  margin: 50px auto 30px;
}
.search-field {
  border-radius: 5px 0 0 5px !important;
}
.search-button {
  border-radius: 0px 5px 5px 0 !important;
}
#all-products {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: stretch;
  justify-content: center;
}
.single-product {
  padding: 15px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  transition: 0.6s;
}
.product-image {
  width: 150px;
  height: 150px;
}
.rating {
  padding: 0 0 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 1024px) {
  #all-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  #all-products {
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    position: relative;
    margin: auto;
  }
}
